@import './variables.css';

.linkWrapper {
  display: flex;
  justify-content: flex-end;
  margin: 2rem;
}

.returnLink {
  font-size: 0.95rem;
  color: var(--primary-color);
  font-weight: 500;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.returnLink:hover {
  color: var(--primary-color-dark);
  text-decoration: underline;
}
